.quick-card{

background:white;

padding:30px;

border-radius:22px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

transition:.35s;

height:100%;

}

.quick-card:hover{

transform:translateY(-10px);

box-shadow:0 20px 45px rgba(37,99,235,.15);

}

.quick-icon{

width:70px;

height:70px;

border-radius:20px;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

color:white;

}

.quick-icon.primary{

background:#2563EB;

}

.quick-icon.success{

background:#22C55E;

}

.quick-icon.warning{

background:#F59E0B;

}

.quick-icon.danger{

background:#EF4444;

}